.featureSection {
    margin-top: 144px;
}

.featureMeta:nth-child(odd) {
    margin-right: 24px;
}

.featureMeta:nth-child(even) {
    margin-left: 24px;
}

.featureWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.featureText {
    font-size: 20px;
    line-height: 30px;
}

.featureType {
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    align-items: center;
    align-self: flex-start;
    display: flex;
}

.featureTypeDeco {
    height: 2px;
    width: 64px;
    background-color: black;
    margin-right: 24px;
}

.sectionTitle {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.featureImageHero {
    transform: rotate(30deg);
    transform-origin: center;
}

.featureImageHero img, .featureImage img {
    max-width: 550px;
}

.listingSection {
    margin-top: 96px;
}

.listItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    color: inherit;
    text-decoration: none;
    margin-bottom: 56px;
}

.listItem:hover{
    text-decoration: underline;
}

.listItem img{
    max-width: 120px;
}

.listItem span {
    display: inline-flex;
    margin-top: 8px;
    font-weight: 500;
}

.listContainer {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width:1120px) {
    .featureImage > img, .featureImageHero > img{
        max-width: 400px;
    }
}

@media screen and (max-width:900px) {

    .featureWrapper {
        flex-direction: column;
    }

    .featureImage, .featureImageHero {
        order: 1;
        margin-bottom: 48px;
    }

    .featureMeta {
        order: 2;
        text-align: center;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .featureSection {
        margin-top: 96px;
    }
}

@media screen and (max-width:500px)  {
    .featureImage, .featureImageHero {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    .featureImage img, .featureImageHero img {
        width: 100%;
    }

    .sectionTitle {
        font-size: 32px;
        line-height: 1.3;
    }

    .featureType {
        font-size: 18px;
    }

}