.heroWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.heroMeta {
    display: flex;
    flex-direction: column;
}

.heroTitle {
    font-size: 64px;
    font-weight: 300;
}

.heroText {
    font-size: 21px;
    color: hsla(0, 0%, 0%, 0.7);
    line-height: 30px;
}

.heroCta {
    font-size: 64px;
    margin-top: 48px;
}

.heroCta >a:first-child {
    margin-right: 56px;
}

.aboutWrapper {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sectionTitle {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.aboutText {
    font-size: 20px;
    padding-left: 64px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
    line-height: 30px;
}

.sectionAbout {
    margin-top: 160px;
    margin-bottom: 280px;
}

.aboutDeco {
    height: 320px;
    width: 320px;
    background-color: #E7F2FF;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: -104px;
}

.featureSection {
    margin-top: 144px;
}

.featureWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featureText {
    font-size: 20px;
    line-height: 30px;
}

.featureType {
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.featureTypeDeco {
    height: 2px;
    width: 64px;
    background-color: black;
    margin-right: 24px;
}

.sectionCTA {
    background-color: #F71555;
    color: white;
    padding-top: 88px;
    padding-bottom: 88px;
    text-align: center;
    margin-top: 160px;
}

.CTATitle {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.CTAText {
    font-size: 24px;
    margin-top: 32px;
}

.CTAIcons {
    font-size: 64px;
    margin-top: 32px;
}

.CTAIcons > a {
    margin-left: 16px;
    margin-right: 16px;
}

.extrasWrapper {
    display: flex;
    flex-direction: row;
}

.extrasText {
    font-size: 20px;
    margin-top: 0;
    margin-left: 48px;
}

.featureExtras .sectionTitle {
    margin-top: 0;
}

.featureExtras {
    margin-top: 160px;
    margin-bottom: 160px;
}