.sectionHero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroWrapper {
    display: flex;
    flex-direction: row;
}

.heroMeta {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.heroTitle {
    font-size: 64px;
    font-weight: 300;
}

.heroText {
    font-size: 21px;
    color: hsla(0, 0%, 0%, 0.7);
    line-height: 30px;
}

.heroCta {
    font-size: 64px;
    margin-top: 48px;
}

.heroCta >a:first-child {
    margin-right: 56px;
}

.heroImage img{
    max-width: 550px;
}

.aboutWrapper {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sectionTitle {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.aboutText {
    font-size: 20px;
    padding-left: 64px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
    line-height: 30px;
}

.sectionAbout {
    margin-top: 160px;
    margin-bottom: 280px;
}

.aboutDeco {
    height: 320px;
    width: 320px;
    background-color: #E7F2FF;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: -104px;
}

.featureSection {
    margin-top: 144px;
}

.featureMeta:nth-child(odd) {
    margin-right: 24px;
}

.featureMeta:nth-child(even) {
    margin-left: 24px;
}

.featureWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featureText {
    font-size: 20px;
    line-height: 30px;
}

.featureType {
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.featureTypeDeco {
    height: 2px;
    width: 64px;
    background-color: black;
    margin-right: 24px;
}

.sectionCTA {
    background-color: #F71555;
    color: white;
    padding-top: 88px;
    padding-bottom: 88px;
    text-align: center;
    margin-top: 160px;
}

.CTATitle {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.CTAText {
    font-size: 24px;
    margin-top: 32px;
}

.CTAIcons {
    font-size: 64px;
    margin-top: 32px;
}

.CTAIcons > a {
    margin-left: 16px;
    margin-right: 16px;
}

.extrasWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 24px;
}

.extrasText {
    font-size: 20px;
    margin-top: 0;
}

.featureExtras .sectionTitle {
    margin-top: 0;
}

.featureExtras {
    margin-top: 120px;
    margin-bottom: 120px;
}

.extrasContainer {
    display: flex;
    flex-direction: row;
}

.extrasLink {
    font-size: 24px;
    color: #3F72AF;
}

.extrasLink > svg {
    margin-right: 8px;
}

@media screen and (max-width:1120px) {
    .heroImage > img {
        max-width: 400px;
    }

    .featureImage > img{
        max-width: 400px;
    }
}

@media screen and (max-width:900px) {

    .heroWrapper {
        text-align: center;
    }

    .heroImage {
       display: none;
    }

    .heroMeta {
        margin-right: 0;
    }

    .aboutDeco {
        left: -64px;
    }

    .featureWrapper {
        flex-direction: column;
    }

    .featureImage {
        order: 1;
        margin-bottom: 48px;
    }

    .featureMeta {
        order: 2;
        text-align: center;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .featureType {
        display: inline-flex;
    }

    .extrasContainer {
        flex-direction: column;
    }

    .sectionAbout {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .featureSection {
        margin-top: 96px;
    }
}

@media screen and (max-width:500px)  {
    .featureImage {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    .featureImage img {
        width: 100%;
    }

    .heroTitle {
        font-size: 48px
    }

    .heroText {
        font-size: 18px;
    }

    .heroCta {
        font-size: 40px;
        margin-top: 24px;
    }

    .sectionTitle {
        font-size: 32px;
        line-height: 1.3;
    }
}