.heroWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.heroMeta {
    display: flex;
    flex-direction: column;
}

.heroTitle {
    font-size: 64px;
    font-weight: 300;
}

.heroText {
    font-size: 21px;
    color: hsla(0, 0%, 0%, 0.7);
    line-height: 30px;
}

.heroCta {
    font-size: 64px;
    margin-top: 48px;
}

.heroCta >a:first-child {
    margin-right: 56px;
}

.aboutWrapper {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sectionTitle {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.aboutText {
    font-size: 20px;
    padding-left: 64px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
}

.sectionAbout {
    margin-top: 160px;
    margin-bottom: 160px;
}

.aboutDeco {
    height: 320px;
    width: 320px;
    background-color: #E7F2FF;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: -104px;
}